# Python
*.pyc
__pycache__/
venv/
env/
.venv/
ENV/
env.bak/
env.save/
pip-wheel-metadata/
pip-egg-info/
dist/
build/

# PyCharm
/.idea
/.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# VSCode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
